@media screen and (max-width:800px){
    nav{
        height: 40px;
    }
    .upper_navbar{
        display: none;
    }
    .lower_navbar{
        display: none;
    }
    .mobile-nav{
        background-color: black;
        display: flex;
        height: 40px;
        justify-content: flex-end;    
        width: 100%;
    }
    .tnw-logo {
        width: 15px;
    }
    .flex-icon{
        color: white;
        margin-right: 9px;
        margin-top: 9px;
    }

    .top-news{
        display: grid;
        grid-template-columns: auto;
        height: auto;
        width: 100%;
        overflow: hidden;
        
    }
    .top-news div{
        width: 100%;
    }
    .last{
        width: 100%;
        margin-left: 10px;
    }
    .last ul{
        height:500px ;
        width: 400px;
        padding-top: 5px;
    }
    .last ul li{
        height: 50%;
        padding-left: 3px;
        padding-bottom: 10px;
        
    }
    .latest-news{  
        height: auto;
      }
    .grid-latestnews{
        display: grid;
        width: 100%;
        grid-template-columns: auto;
    }
    .grid-center {
        width: 90%;
        margin-left: 33px;
    }
    .latest_funding{
        height: auto;
    }
    .latest_funding ul{
        flex-direction: column;
    }
    .latest_funding ul li {
        width: 100%;
        margin-top: 10px;
    }
    .funding_footer {
        width: 100%;
    }
    .funding_heading_a{
        margin-top: unset;
    }
    .funding_company{
        font-size: 2.2vw;
    }
    .funding_money{
        font-size: small;
    }

}