@media only screen and (min-width: 1840px) and (max-device-width : 1920px){
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul{
    list-style: none;
  }  

body {
  font-family: 'Source Sans Pro', sans-serif;
}

nav{
  position: absolute;
  height: 80px;
  width: 100%;
  box-shadow: 0 0 32px rgba(0,0,0,.15);
}


.upper_navbar{
  width: 100%;
  height: 32px;
  background-color: black;
  font-size: 0.7vw;
}

.upper_navbar_left{
  width: 23%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-top: 7px;
  color: rgb(143, 141, 141);
}

.upper_navbar_left a{
  text-decoration: none;
  color: rgb(143, 141, 141);
}

.upper_navbar_left li a:hover{
  color:white;
}

.news_color{
  color: white;
}

.upper_navbar_right{
  width: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-right: 12px;
  margin-top: -18px;
}

.upper_navbar_right a{
  text-decoration: none;
  color: rgb(143, 141, 141);
}

.upper_navbar_right li a:hover{
  color:white;
}


.lower_navbar{
  width:100%;
  text-transform: uppercase;
  height: 48px;
  background-color: transparent;
  font-size: 0.8vw;
}

.lower_navbar_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-top: 12px;
  width: 45%;
}

.lower_navbar_content a{
  text-decoration: none;
  color: rgb(143, 141, 141);
}

.lower_navbar_content li a:hover{
  color: black;
}

.lower_navbar_button{
  float: right;
  height: 48px;
  width: 50px;
  border: 1px solid rgb(143, 141, 141);
  margin-top: -30px;
  background-color: transparent;
}
}

@media only screen and (min-width: 1300px) and (max-device-width: 1840px){
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul{
    list-style: none;
  }  

body {
  font-family: 'Source Sans Pro', sans-serif;
}

nav{
  position: absolute;
  height: 80px;
  width: 100%;
  box-shadow: 0 0 32px rgba(0,0,0,.15);
}


.upper_navbar{
  width: 100%;
  height: 32px;
  background-color: black;
  font-size: 0.7vw;
}

.upper_navbar_left{
  width: 23%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-top: 7px;
  color: rgb(143, 141, 141);
}

.upper_navbar_left a{
  text-decoration: none;
  color: rgb(143, 141, 141);
}

.upper_navbar_left li a:hover{
  color:white;
}

.news_color{
  color: white;
}

.upper_navbar_right{
  width: 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-right: 12px;
  margin-top: -18px;
}

.upper_navbar_right a{
  text-decoration: none;
  color: rgb(143, 141, 141);
}

.upper_navbar_right li a:hover{
  color:white;
}


.lower_navbar{
  width:100%;
  text-transform: uppercase;
  height: 48px;
  background-color: transparent;
  font-size: 0.8vw;
}

.lower_navbar_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-top: 12px;
  width: 45%;
}

.lower_navbar_content a{
  text-decoration: none;
  color: rgb(143, 141, 141);
}

.lower_navbar_content li a:hover{
  color: black;
}

.lower_navbar_button{
  float: right;
  height: 48px;
  width: 50px;
  border: 1px solid rgb(143, 141, 141);
  margin-top: -30px;
  background-color: transparent;
}
}
